* {
    margin: 0;
    padding: 0;
}

/* ++++++ header */
header {
    background-image: url("../img/pattern.png");
    background-color: #639ff8;
    background-size: 300px;
    padding-top: 30px;
}
header div {
    width: 80%;
    margin: auto;
}
header img {
    width: 250px;
}

/* ++++++ main */
main {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
/* titolo */
main .title h1 {
    margin-bottom: 5px;
}
main .title .credit {
    color: gray;
}
main .title .credit .name {
    color: rgb(102, 224, 255);
}
main .title .credit .data {
    font-size: small;
}
/* galleria */
main .gallery {
    margin-top: 20px;
}
main .gallery .descrizione-foto {
    font-size: small;
}
/* articolo */
main .article {
    margin: 20px 0;
}
main .article p .testo-evidenziato {
    background-color: yellow;
}
main .article ul {
    margin: 30px 0;
}
/* tabella */
main .article table {
    border-spacing: 0;
}
main .article table th {
    text-align: left;
    color: white;
}
main .article table .colonna-uno, .colonna-due {
    width: 25%;
}
main .article table thead {
    background-color: rgb(0, 183, 255);
}
main .article table tbody .riga-azzurra {
    background-color: rgb(164, 237, 255);
}